---
const { title, icon } = Astro.props;
---

<div
  class="skills__content"
  x-data="{ open: false }"
  x-bind:class="open ? 'skills__open': ''"
  @click="open = ! open"
  x-transition
>
  <div class="skills__header">
    <i class=`uil ${icon} skills__icon`></i>
    <div>
      <h1 class="skills__title">{title}</h1>
      <span class="skills__subtitle"></span>
    </div>
    <i class="uil uil-angle-down skills__arrow"></i>
  </div>
  <div
    class="skills__list skills__grid"
    x-show="open"
    x-transition:enter="transition ease-out duration-300"
    x-transition:enter-start="opacity-0 scale-90"
    x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave="transition ease-in duration-300"
    x-transition:leave-start="opacity-100 scale-100"
    x-transition:leave-end="opacity-0 scale-90"
  >
    <slot />
  </div>
</div>
