---

---

<!--==================== CONTACT ME ====================-->
<section class="contact section" id="contact">
  <div class="center__wrapper">
    <h2 class="section__title">Contact Me</h2>
    <span class="section__subtitle">Get in Touch</span>
    <div class="contact__container container grid">
      <div>
        <a href="tel:+4917636363379">
          <div class="contact__information">
            <i class="uil uil-whatsapp contact__icon"> </i>
            <div>
              <h3 class="contact__title">Call Me</h3>
              <span class="contact__subtitle">+49 176 36363379</span>
            </div>
          </div>
        </a>
        <a href="mailto:fio.lutzenberger@proton.me?subject=Get in touch">
          <div class="contact__information">
            <i class="uil uil-envelope contact__icon"> </i>
            <div>
              <h3 class="contact__title">Email</h3>
              <span class="contact__subtitle">fio.lutzenberger@proton.me</span>
            </div>
          </div>
        </a>
        <a
          href="https://www.google.com/maps/@50.9481526,6.9230023,15.25z"
          target="_blank"
        >
          <div class="contact__information">
            <i class="uil uil-map-marker contact__icon"> </i>
            <div>
              <h3 class="contact__title">Location</h3>
              <span class="contact__subtitle">Ehrenfeld, Germany</span>
            </div>
          </div>
        </a>
      </div>
      <div class="contact__img"></div>
    </div>
  </div>
</section>
