---
const Year = new Date().getFullYear();
---

<!--==================== FOOTER ====================-->
<section class="footer">
  <div class="footer__bg">
    <div class="footer__container container grid">
      <div>
        <h1 class="footer__title home__name-placeholder"></h1>
        <span class="footer__subtitle">Code Tinkerer</span>
      </div>
      <ul class="footer__links">
        <li>
          <a href="/about" class="footer__link">About</a>
        </li>
        <li>
          <a href="/portfolio" class="footer__link">Portfolio</a>
        </li>
        <li>
          <a href="/experiments" class="footer__link">Experiments</a>
        </li>
      </ul>

      <div class="footer__socials">
       
        <a
          href="https://github.com/yunikode/"
          target="_blank"
          class="footer__social"
        >
          <i class="uil uil-github"></i>
        </a>
      </div>
    </div>
    <p class="footer__copy">&copy;{Year} Fiona Luztenberger</p>
  </div>
</section>
